* {
  box-sizing: border-box;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  margin: 0 10px;
}

header {
	width: 100%;
	background-color: #fff;
	height: 70px;
	position: fixed;
	background-color: rgba(34, 49, 52, 0.9);
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


.header-logo h2{
	color: #fff;
	font-variant: bold;
	font-size: 28px;
	float: left;
	margin: 18px;
	padding-left: 50px;
}


span{
	color: #4682B4;
}

.header-list {
	float:right;
}

.header-list a{
  line-height: 71px;
  padding: 0 10px;
  color: #fff;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-list a:hover {
  background-color: rgba(255, 255, 255, 0.9);
  color: #002347;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background: url(gambar5.png) no-repeat fixed;
  background-size: cover;
  color: #002347;
  text-align: center;
  height: 500px;

}

.top-wrapper h1{
	font-size: 42px;
	color: #002347;
}

.top-wrapper p {
	font-size: 24px;
	color: #002347;
	padding: 20px 0;

}

.btn-wrapper {
  margin: 20px 0;
}

.btn {
  padding: 12px 24px;
  color: #fff;
  display: inline-block;
  opacity: 0.8;
  border-style: solid;
  border-width: medium;
  border-color: #002347;
  border-radius: 4px;
}

.fa {
  margin-right: 5px;
}

.fa-bars {
	color: white;
}

.signup {
  background-color: #002347;
}

.signup:hover {
	background-color: rgba(34, 49, 52, 0);
	color: #002347;
	border-style: solid;
	border-width: medium;
	border-color: #002347;
	border-radius: 4px;
	transition: all 0.5s;
}

.menu-icon {
  color: white;
  float: right;
  padding: 28px 0;
  display: none;
  margin-right: 20px;
}

.fa-search {
  color: white;
  float: right;
  padding: 28px 0;
  display: none;
  padding-left: 10px;
  margin-right: 50px;
}

.wafixed {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}

.fa-circle {
	color: green;
}
